thing > img{
    margin-top: 20px;
    border: 5px solid white;
}

#title{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 60px;
}

#explanation{
    margin-top: 20px;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 20px;
}

.nav-item{
    font-family: 'VT323', monospace!important;
}

.header-top-menu .navbar-nav>li>a {
    font-size: 20px!important;
}

.btn-primary{
    color: #fff;
    background-color: #252148!important;
    border-color: #19476f!important;
    display: block!important;
    margin: auto!important;
    margin-top: 20px!important;
}


#fotka{
    
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 25px;
    
}

#borderslike{
    border:5px solid white;
    border-radius: 10px;
}

.centriraj{
    color:white;
    font-size:50px;
    font-family:'VT323', monospace;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

.btn-oblast{
    color: #fff;
    font-size: 50px;
    font-family: 'Coda', cursive;
    background: rgb(2,0,36);
    background: linear-gradient(207deg, rgba(2,0,36,1) 0%, rgba(3,31,85,1) 41%, rgba(14,57,93,1) 100%);
    border-color: #19476f!important;
    display: block!important;
    margin: auto!important;
    margin-top: 20px!important; 
    transition: 0.3s;
}

.btn-oblast:hover{
    background: white!important;
    color:#252148!important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border:4px solid #19476f!important;
}

#countdowntimer{
    display:block;
    color:white;
    font-size:40px;
    font-family: 'Coda', cursive;
    padding-top: 32px;
    padding-left: 13px;
}

#rezultati{
    color:white;
    font-size:20px;
    font-family:'Coda', cursive;
    border: 5px solid #2a3169!important;
}

.timer{
    display:block;
    margin:auto;
    margin-top: 30px;
    border: 5px solid;
    background: linear-gradient(207deg, rgba(2,0,36,1) 0%, rgba(3,31,85,1) 82%, rgba(14,57,93,1) 100%);
    border-color:  #19476f;
    border-radius: 50%;
    width: 200px;
    height: 130px;
}

#custommenu{
    background: linear-gradient(207deg, rgba(2,0,36,1) 0%, rgba(3,31,85,1) 82%, rgba(14,57,93,1) 100%)!important;
}

.navbar-light .navbar-brand {
    color: white;
    font-family: 'Coda', cursive;
    font-size:20px;
}
.navbar-expand-lg .navbar-nav {
    font-size:20px;
    color:white;
    font-family: 'VT323', monospace;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:white;
}

.nav-item{
    padding-right: 20px;
}
.navbar-light .navbar-toggler-icon {
    color: white;
    background-image: url("https://www.abeautifulsite.net/uploads/2014/09/menu-icon.png?width=600&key=4bc015049071e7e16c61decfe5eca75cd081194e39a9e235b780ce644ef7e6ce");
}

@media only screen and (max-width: 1000px) {
    .col-lg-12{
        width: 80%!important;
        display: block!important;
        margin: auto!important;
}
.navbar-light .navbar-brand{
    margin-left:90px;
}

.header-right-info ul.header-right-menu > li > a {
    display:none!important;
    }
  }

